@font-face{
    font-family: "roboto";
    src:url("../google_fonts/Roboto/Roboto-Regular.ttf");
}
*{
    font-family: roboto;
    font-weight: 500;
}
.container{
    position: relative;
    background: #2F3340;
    padding: 20px;
    height: 100vh;
}
.chat{
    display: flex;
}
.avatar{
    display: flex;
    flex-direction: column;
}
.users-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white 2px;
    cursor: pointer;
}
.titulo-usuario, .icon{
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.avatar .titulo-usuario,.users-img,.icon,.panel-left_menu__input{
    margin: 10px;
}
.panel-left{
    background:#17212B;
    padding: 10px;
    overflow: auto;
    height: 45em;
}
.panel-left_menu{
    display: flex;
    justify-content: row;
    align-items: center;
    height: 100px;
    padding: 5px;
}

.panel-left_menu__input , .panel-right__form input{
    background: #242F3D;
    height: 50%;
    padding: 5px;
    color: gray;
}
.panel-left_menu__input::placeholder , .panel-right__form input::placeholder{
    color: white;
}
.panel-left_menu__span{
    height: 50%;
    background: gray;
    padding: 5px;
    cursor: pointer;
}
.msg-container, .msg-container--active{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.msg-container:hover{
    opacity: 0.5;
    transition: all 0.5s;
}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: gray;
}
.msg .titulo-usuario, .msg p, .msg time{
    margin-bottom: 5px;
    overflow: hidden;
}
/*Right -------------------------------------------------------------*/
.panel-right{
    background: whitesmoke;
    width: 70%;
    background-image: url("../img/background-chat/mapita.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}
.panel-right__nav{
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.panel-right__nav *{
    color: black;
}
.panel-right__nav__div{
    font-size: 30px;
}
.msg-container--active{
    background: rgba(128, 128, 199, 0.5);
}
.msg-container--active *{
    color: black;
}
.panel-right__form input{
    width: 80%;
    height: 50px;
}
.panel-right__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.panel-right__form .icon{
    width: 40px;
    height: 40px;
}
.icon--active{
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 1400px) {
    .chat{
        justify-content: center;
    }
    .panel-right{
        width: 50%;
    }
  }
  @media only screen and (max-width:844px){
  	.container{
  		padding:0;
  	}
    .panel-left {
        position: absolute;
        width: 100%;
        padding:10;
    }
    .panel-right{
        position: absolute;
        width: 100%;
    }
    .icon--active{
        display: block;
    }
    .panel-left_menu__input{
    	width:35%;
    	min-width:150px;
    }
    .panel-left_menu__span{
    	display:none;
    }
  }
  .show{
      z-index: 100;
  }
